<template>
   <transition name="fade">
      <div id="parent">
         <div class="Modal__container">
            <div class="Modal__controls">
               <span id="close__btn" @click="closeModal" ref="close-button"><i class="far fa-window-close"></i></span>
            </div>

            <div class="Modal__title">
               <h3 :id="borderType">{{ selected.type }}</h3>
            </div>

            <div id="info">
               <p>{{ selected.student.full_name }} <b>enrolled</b> on {{ selected.student.enroll_date }}.</p>
               <p>{{ selected.student.full_name }} <b>starting</b> on {{ selected.student.start_date }}.</p>
               <div v-if="selected.type === 'Action Item'">
                  <b>Action Flag:</b> <span :id="fontType">{{ selected.student.action }}</span>
               </div>
               <div v-else>
                  <b>Basecamp Completion:</b> <span :id="fontType">{{ selected.student.completion }}</span>
               </div>
            </div>

            <div id="options" v-if="!selectedMenu" ref="options-menu">
               <div class="Modal__title">
                  <h3 :id="borderType">Available Actions</h3>
               </div>
               <button  v-for="btn in whichActions"
                        :key="btn.id"
                        :id="buttonType"
                        @click="selectedMenu = btn.menu">
                  {{ btn.text }}
               </button>
               <span v-if="whichActions.length === 0">No available actions</span>
            </div>

            <div id="actions" v-if="selectedMenu" ref="actions-menu">
               <component  :is="selectedMenu"
                           :buttonType="buttonType"
                           :borderType="borderType"
                           :rowActionType="rowActionType"
                           :rowSelectedType="rowSelectedType"
                           :assignMentor="assignMentor"
                           :student="selected.student"
                           :closeModal="closeModal"
                           :resolveAction="resolveAction"></component>
               <div id="actions__footer-menu">
                  <button :id="buttonType" @click="selectedMenu = null">Back to menu</button>
               </div>
            </div>
         </div>
      <div id="mask" />
      </div>
   </transition>
</template>

<script>
import AvailableActions from '@/utils/availableActions'

export default {
   mixins: [AvailableActions],
   props: {
      closeModal: {
         type: Function,
         required: true
      },
      selected: {
         type: Object,
         required: true
      },
      assignMentor: {
         type: Function,
         required: true
      },
      resolveAction: {
         type: Function,
         required: true
      },
      defaultedMenu: [String, null]
   },
   created() {
      this.selectedMenu = this.defaultedMenu
   },
   data() {
      return {
         selectedMenu: this.defaultedMenu
      }
   },
   computed: {
      colorType: function() {
         return this.selected.type === 'Action Item' ? 'blue' : 'red'
      },
      borderType: function() {
         return `${this.colorType}-bottom-border`
      },
      buttonType: function() {
         return `${this.colorType}-button`
      },
      fontType: function() {
         return `${this.colorType}-font`
      },
      rowSelectedType: function() {
         return `${this.colorType}-selected-row`
      },
      rowActionType: function() {
         return `${this.colorType}-action-row`
      },
      whichActions: function() {
         const action = this.selected.student.action
         return this.selected.type === 'Action Item' ? this.actionItems[action] || this.actionItems.general : this.dangerZone
      }
   }
}
</script>

<style scoped>
#parent {
   position: absolute;
   top: 30px;
   width: 95%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

h3 {
   margin: 0;
   display: inline-block;
   padding: 0px 50px 5px 50px;
}

p {
   margin-top: 0;
}

#mask {
   width: 100%;
   height: 100vh;
   z-index: 1;
   position: fixed;
   top: 0;
   left: 0;
   opacity: 0.5;
   background-color: black;
}

#options {
   width: 100%;
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

#actions {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   position: relative;
}

#actions__footer-menu {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   margin-top: 30px;
   height: 38px;
}
</style>
