<template>
   <div id="CampusList__container">
      <button  v-for="campus in campuses"
               :key="campus.id"
               @click="selectCampus(campus)"
               :class="{ 'selected-campus': selected === campus }">
         {{ campus.name }}
      </button>
   </div>
</template>

<script>
export default {
   props: {
      campuses: null
   },
   data: () => ({
      selected: null
   }),
   methods: {
      selectCampus: function (campus) {
         this.selected = campus
         this.$emit('selected', campus)
      }
   }
}
</script>

<style scoped>
   #CampusList__container {
      padding: 20px 0px 10px 0px;
   }

   button {
      padding: 10px 20px;
      margin: 0px 20px;
      color: #2aabe2;
      cursor: pointer;
      border: none;
      transition: 250ms;
      border-radius: 3px;
   }

   button:hover {
      background-color: #2aabe2;
      color: #FFF;
   }

   .selected-campus {
      background-color: #2aabe2;
      color: #FFF;
   }
</style>
