<template>
   <header>
      <router-link class="Header__link clean" to="/">
         <div class="Header__left">
            <img class="Header__logo" :src="logoSrc" />
            <span>Basecamp Hub</span>
         </div>
      </router-link>

      <div class="Header__right">
         <router-link class="Header__link" to="cohorts">
            <span>Cohorts</span>
         </router-link>
         <router-link class="Header__link" to="mentors">
            <span>Mentors</span>
         </router-link>
      </div>
   </header>
</template>

<script>
import logo from '@/assets/logo.svg'

export default {
   data () {
      return {
         logoSrc: logo
      }
   }
}
</script>

<style scoped>
header {
   width: 100%;
   height: 75px;
   background-color: #424242;
   color: #2aabe2;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 25px;
   border-bottom: 2px solid #2aabe2;
}

.Header__left {
   padding: 0px 10px;
   display: flex;
   align-items: center;
}

.Header__left span {
   cursor: default;
}

.Header__right {
   padding: 0px 20px;
}

.Header__logo {
   height: 50px;
   margin-right: 10px;
}

.Header__link {
   margin: 0px 10px;
   cursor: pointer;
   color: #2aabe2;
}

.clean {
   text-decoration: none;
}
</style>
