<template>
  <div id="Mentors__container">
      <my-load-spinner v-if="!fetchedData"></my-load-spinner>
      <template v-else>
         <my-campus-list :campuses="campuses" v-on:selected="selectedCampus = $event"></my-campus-list>
         <div id="Mentors__workspace" v-if="selectedCampus">
            <button @click="modalVisible = true">Add Mentor</button>
            <my-mentor-list :mentors="selectedCampus.mentors" :location="selectedCampus.name"></my-mentor-list>
         </div>

         <my-modal   v-if="modalVisible"
                     :closeModal="closeModal"
                     :mentors="mentorsAvailableToAdd"
                     :locationId="selectedCampus.id"
                     :addMentorToLocation="addMentorToLocation">
         </my-modal>
      </template>
  </div>
</template>

<script>
import CampusList from '@/components/CampusList/CampusList'
import MentorList from './MentorList/MentorList'
import LoadSpinner from '@/components/LoadSpinner/LoadSpinner'
import Modal from '@/components/Mentors/Modal/AddMentor'
import axios from 'axios'
import config from '@/config.js'
import authFn from '@/utils/authenticate'
import isAdmin from '@/utils/isAdmin'
import toastOptions from '@/utils/toastOptions'

export default {
   components: {
      myCampusList: CampusList,
      myMentorList: MentorList,
      myLoadSpinner: LoadSpinner,
      myModal: Modal
   },
   created() {
      this.fetchInitialData()
   },
   data: function() {
      return {
         campuses: null,
         mentorsAvailableToAdd: null,
         selectedCampus: null,
         modalVisible: false,
         fetchedData: false
      }
   },
   methods: {
      fetchInitialData() {
         return authFn().then(r => {
            if (isAdmin(r.data.roles)) {
               const promises = [
                  axios.get(`${config.api.baseUrl}${config.api.routes.locations.mentors}`),
                  axios.get(`${config.api.baseUrl}${config.api.routes.mentors.available_add}`)
               ]

               return axios
                  .all(promises)
                  .then(([locations, mentors]) => {
                     this.campuses = locations.data
                     this.mentorsAvailableToAdd = mentors.data
                     this.fetchedData = true
                  })
                  .catch(err => {
                     console.error('API failed at fetching locations and mentors available to assign:', err)
                     this.$toasted.show('API failed at fetching locations and mentors available to assign', toastOptions.error)
                  })
            } else {
               return null
            }
         })
      },
      closeModal: function() {
         this.modalVisible = false
      },
      createMentor: function(user, locationId) {
         const campusIndex = this.campuses.findIndex(campus => campus.id === locationId)
         this.campuses[campusIndex].mentors.push(user)
         this.modalVisible = false
      },
      addMentorToLocation: function(mentor, capacity, dateStart, locationId) {
         if (capacity === 0 || capacity < 0) return null

         const body = {
            user_id: mentor.user_id,
            capacity,
            date_start: dateStart,
            location_id: locationId
         }

         return axios
            .post(`${config.api.baseUrl}${config.api.routes.mentors.add_mentor}`, body)
            .then(r => {
               const { id, user_id } = r.data

               const user = {
                  id,
                  user_id,
                  first_name: mentor.first_name,
                  last_name: mentor.last_name,
                  capacity,
                  active_students_count: 0
               }

               this.createMentor(user, locationId)
            })
            .catch(err => {
               console.error('API failed at adding a mentor to a location:', err)
               this.$toasted.show('API failed at adding a mentor to a location', toastOptions.error)
            })
      }
   }
}
</script>

<style scoped>
#Mentors__container {
   width: 100%;
   min-height: 100vh;
   background-color: #424242;
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   padding-bottom: 30px;
   box-sizing: border-box;
}

#Mentors__workspace {
   margin-top: 30px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

button {
   background-color: #2aabe2;
   border: none;
   color: #fff;
   padding: 10px 20px;
   border-radius: 3px;
}
</style>
