<template>
   <div id="DangerZone__container">
      <div id="red-font" class="row-title">
         Danger Zone Students
      </div>
      <table id="DangerZone__table">
         <tr>
            <th class="flexibile-th">Name</th>
            <th class="flexibile-th">Start Date</th>
            <th class="flexibile-th">Cohort</th>
            <th class="flexibile-th">Basecamp Completion</th>
            <th class="flexibile-th">Email</th>
         </tr>
         <tr   v-for="(student, i) in students"
               :key="student.id"
               id="red-bg"
               :class="[
                  {
                     rowLight: i % 2 === 0 && student !== selected.student,
                     'red-selected-row': student === selected.student
                  },
                  'red-action-row',
                  'row-action'
               ]">
            <td class="flexibile-td" @click="showModal( student, 'Danger Zone', i, null )">{{ student.full_name }}</td>
            <td class="flexibile-td" @click="showModal( student, 'Danger Zone', i, null )">{{ student.start_date }}</td>
            <td class="flexibile-td" @click="showModal( student, 'Danger Zone', i, null )">{{ student.cohort }}</td>
            <td class="flexibile-td" @click="showModal( student, 'Danger Zone', i, null )">{{ student.completion }}</td>
            <td class="flexibile-td" @click="showModal( student, 'Danger Zone', i, 'myEmail' )"><i class="far fa-envelope"></i></td>
         </tr>
      </table>
   </div>
</template>

<script>
export default {
   props: {
      showModal: {
         type: Function,
         required: true
      },
      selected: {
         type: Object,
         required: true
      },
      students: null
   }
}
</script>

<style scoped>
#DangerZone__container {
   box-sizing: border-box;
   padding: 0px 30px;
   height: auto;
   display: inline-block;
   transition: 250ms;
}

#email__btn {
   position: relative;
   z-index: 2;
}
</style>
