<template>
   <div id="Assign__container">
      <h3 :id="borderType">Mentor Options</h3>

      <my-filter-mentors   v-if="mentors.length > 0"
                           v-on:allData="filterData = $event"
                           :mentors="mentors"
                           :isAdd="false">
      </my-filter-mentors>

      <button  :id="buttonType"
               v-if="filterData.selectedMentor"
               @click="assignMentor(filterData.selectedMentor.id)">
         Assign Mentor
      </button>
   </div>
</template>

<script>
import FilterMentors from '@/components/FilterMentors/FilterMentors'
import axios from 'axios'
import config from '@/config'

export default {
   props: {
      borderType: {
         type: String,
         required: true
      },
      buttonType: {
         type: String,
         required: true
      },
      rowSelectedType: {
         type: String,
         required: true
      },
      rowActionType: {
         type: String,
         required: true
      },
      assignMentor: {
         type: Function,
         required: true
      }
   },
   components: {
      myFilterMentors: FilterMentors
   },
   created () {
      axios.get(`${config.api.baseUrl}${config.api.routes.mentors.available_assign}`).then(r => {
         this.mentors = r.data
      }).catch(err => console.error('API could not fetch available mentors for assigning:', err))
   },
   data () {
      return {
         filterData: {},
         mentors: []
      }
   }
}
</script>

<style scoped>
   #Assign__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
   }

   h3 {
      margin-top: 0;
      padding: 0 25px;
   }

   span {
      background-color: #D3D2D3;
      width: 100%;
      padding: 20px 0px;
   }

   button {
      margin-top: 15px;
   }
</style>
