<template>
   <div>
      <h3 :id="borderType">Email Options</h3>
      <button :id="buttonType" @click="sendWarningEmail(student.email, student.full_name)">Send Warning Email</button>
   </div>
</template>

<script>
import axios from 'axios'
import config from '@/config.js'
import toastOptions from '@/utils/toastOptions'

export default {
   props: {
      buttonType: {
         type: String,
         required: true
      },
      borderType: {
         type: String,
         required: true
      },
      student: {
         email: String,
         full_name: String
      },
      closeModal: {
         type: Function,
         required: true
      }
   },
   methods: {
      sendWarningEmail: function(studentEmail, studentName) {
         const body = {
            studentName: studentName,
            studentEmail: studentEmail
         }
         console.log('sending warning email', body)
         return axios
            .post(`${config.api.baseUrl}${config.api.routes.email.warning}`, body)
            .then(r => {
               this.$toasted.show('Warning Email Sent', toastOptions.success)
               this.closeModal()
            })
            .catch(err => console.error('Could not send warning email to student:', err))
      }
   }
}
</script>

<style scoped>
div {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

h3 {
   margin-top: 0;
   padding: 0 25px;
}
</style>
