<template>
   <div id="Resolve__container">
      <h4>Are you sure? This action cannot be undone.</h4>

      <button  id="blue-button"
               @click="resolveAction(student.trackable_id)">
         Yes
      </button>

      <button  id="red-button"
               @click="closeModal">
         No
      </button>
   </div>
</template>

<script>
export default {
   props: {
      closeModal: {
         type: Function,
         required: true
      },
      student: {
         type: Object,
         required: true
      },
      resolveAction: {
         type: Function,
         required: true
      }
   }
}
</script>

<style scoped>
h4 {
   margin-top: 0px;
}

button {
   width: 100px;
}
</style>
