<template>
   <div id="FilterMentors__container">
      <div id="SearchMentors__container">
         <input placeholder="Search by Mentor Name" v-model="userFilter" />
      </div>

      <div id="FilteredMentors__table-container">
         <span id="TableHeader__span"><b>Available Mentors</b></span>
         <table>
            <tr>
               <th>Name</th>
               <th v-if="!isAdd">Current/Capacity</th>
               <th>Selector</th>
            </tr>

            <template v-if="filteredMentors">
               <tr   v-for="(mentor, i) in filteredMentors"
                     :key="mentor.user_id"
                     @click="selectedMentor = mentor"
                     :class="[
                        { rowLight: i % 2 === 0 && selectedMentor !== mentor },
                        { 'blue-selected-row': selectedMentor === mentor },
                        'blue-action-row'
                     ]">
                  <td>{{ mentor.first_name }} {{ mentor.last_name }}</td>
                  <td v-if="!isAdd">{{ mentor.active_students_count }}/{{ mentor.capacity }}</td>
                  <td><input type="radio" name="selectedMentor" :id="mentor.user_id" :value="mentor" v-model="selectedMentor" /></td>
               </tr>
            </template>
         </table>

         <span v-if="!filteredMentors" id="NoMentors__span">No Mentors Found</span>

         <template v-if="isAdd">
            <template v-if="selectedMentor">
               <div id="StartDate__container">
                  <span>When can {{ selectedMentor.first_name }} {{ selectedMentor.last_name }} start?</span>
                  <my-date-picker :input-class="'datePickerInput'" v-model="dateStart"></my-date-picker>
               </div>

               <div id="Capacity__container">
                  <span>What is {{ selectedMentor.first_name }} {{ selectedMentor.last_name }}'s capacity?</span>
                  <div>
                     <input type="number" v-model="capacity" /><span>Students</span>
                  </div>
               </div>
            </template>
         </template>
      </div>
   </div>
</template>

<script>
import DatePicker from 'vuejs-datepicker'
import moment from 'moment'

export default {
   props: {
      mentors: {
         type: Array,
         required: true
      },
      isAdd: {
         type: Boolean,
         required: true
      }
   },
   components: {
      myDatePicker: DatePicker
   },
   data () {
      return {
         userFilter: '',
         selectedMentor: null,
         dateStart: new Date(),
         capacity: 0
      }
   },
   methods: {
      emitAllData () {
         this.$emit('allData', {
            filter: this.userFilter,
            selectedMentor: this.selectedMentor,
            dateStart: this.formatStartDate,
            capacity: this.capacityInt
         })
      }
   },
   computed: {
      filteredMentors: function () {
         if (!this.userFilter) return null
         return this.mentors.filter(mentor => {
            const formattedFirst = mentor.first_name.toLowerCase()
            const formattedLast = mentor.last_name.toLowerCase()
            const formattedFilter = this.userFilter.toLowerCase()

            return formattedFirst.includes(formattedFilter) || formattedLast.includes(formattedFilter)
         })
      },
      formatStartDate: function () {
         return moment(this.dateStart).toISOString()
      },
      capacityInt: function () {
         return parseInt(this.capacity)
      }
   },
   watch: {
      selectedMentor () {
         this.emitAllData()
      },
      dateStart () {
         this.emitAllData()
      },
      capacity () {
         this.emitAllData()
      }
   }
}
</script>

<style scoped>
   #FilterMentors__container {
      width: 100%;
   }

   #SearchMentors__container {
      width: 100%;
   }

   #SearchMentors__container input {
      padding: 0px 15px;
      border: none;
      border-bottom: 2px solid #2aabe2;
      padding-bottom: 2px;
      outline: none;
      width: 100%;
      box-sizing: border-box;
   }

   #FilteredMentors__table-container {
      width: 100%;
      margin-top: 30px;
   }

   #NoMentors__span {
      display: block;
      background-color: #D2D2D2;
      padding: 10px 0px;
   }

   #TableHeader__span {
      display: block;
      background-color: #D2D2D2;
      padding: 20px 0px;
   }

   table {
      width: 100%;
   }

   #StartDate__container {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   #StartDate__container span {
      margin-bottom: 15px;
   }

   #Capacity__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
   }

   #Capacity__container input {
      margin-top: 15px;
      border: none;
      border-bottom: 1px solid #2aabe2;
      outline: none;
      width: 40px;
      margin-right: 10px;
   }
</style>
