<template>
   <transition name="fade">
      <div id="MentorModal__parent">
         <div class="Modal__container" id="MentorModal__container">
            <div class="Modal__controls">
               <span id="close__btn" @click="closeModal" ref="close-button"><i class="far fa-window-close"></i></span>
            </div>

            <div class="Modal__title">
               <h3 id="blue-bottom-border">Add Mentor</h3>
            </div>

            <my-filter-mentors   :mentors="mentors"
                                 v-on:allData="filterData = $event"
                                 :isAdd="true">
            </my-filter-mentors>

            <template v-if="filterData.selectedMentor">
               <button  id="AddMentor__button"
                        :class="[
                           { 'active_button': filterData.selectedMentor && filterData.capacity != 0 && filterData.capacityInt > 0 },
                           { 'disabled_button': !filterData.selectedMentor || filterData.capacity == 0 || filterData.capacityInt < 0 }
                        ]"
                        @click="addMentorToLocation(filterData.selectedMentor, filterData.capacity, filterData.dateStart, locationId)">
                  Add Mentor
               </button>
            </template>
         </div>
         <div id="mask" />
      </div>
   </transition>
</template>

<script>
import FilterMentors from '@/components/FilterMentors/FilterMentors'

export default {
   props: {
      closeModal: {
         type: Function,
         required: true
      },
      mentors: {
         type: Array,
         required: true
      },
      locationId: {
         type: Number,
         required: true
      },
      addMentorToLocation: {
         type: Function,
         required: true
      }
   },
   components: {
      myFilterMentors: FilterMentors
   },
   data () {
      return {
         filterData: {}
      }
   }
}
</script>

<style scoped>
   #MentorModal__parent {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      padding: 30px 0px;
      color: black;
   }

   #MentorModal__container {
      height: 750px;
      width: 600px;
   }

   #mask {
      background-color: black;
      opacity: 0.3;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: fixed;
      top: 0
   }

   .Modal__title h3 {
      margin-top: 0px;
      padding: 0px 15px;
      margin-bottom: 0px;
   }

   #AddMentor__button {
      margin-top: 30px;
      background-color: #2aabe2;
      border: none;
      color: #FFF;
      padding: 10px 20px;
      border-radius: 3px;
   }

   .disabled_button {
      cursor: not-allowed;
      opacity: 0.5;
      outline: none;
   }

   .active_button {
      cursor: pointer;
      opacity: 1;
   }
</style>
