<template>
   <div id="CohortList__container">
      <div id="cohorts">
         <button  v-for="(cohort, i) in cohorts"
                  :key="cohort.label"
                  @click="selectCohort(cohort)"
                  :class="[{ 'selected-cohort': cohort === selected }, 'cohort']"
                  :id="i === cohorts.length - 1 ? 'last-cohort' : null">
            {{ cohort.name.toUpperCase() }}
         </button>
      </div>
   </div>
</template>

<script>
export default {
   props: {
      cohorts: {
         type: Array,
         required: true
      }
   },
   data: () => ({
      selected: null
   }),
   methods: {
      selectCohort: function (cohort) {
         this.selected = cohort
         this.$emit('selected', cohort)
      }
   }
}
</script>

<style scoped>
   #CohortList__container {
      padding: 10px;
      display: flex;
      justify-content: center;
      width: 100%;
      box-sizing: border-box;
   }

   #cohorts {
      border: none;
      display: flex;
      background-color: #FFF;
      color: black;
   }

   button {
      border: none;
      outline: none;
   }

   .cohort {
      padding: 10px 20px;
      cursor: pointer;
   }

   .cohort:hover {
      background-color: #2aabe2;
      color: #FFF;
   }

   .selected-cohort {
      background-color: #2aabe2;
      color: #FFF;
   }
</style>
