<template>
   <div id="StudentTable__container">
      <div id="StudentTable__table">
         <h3>Ordered by Basecamp Completion Percent</h3>
         <my-color-legend ref="color-legend-component"></my-color-legend>
         <span id="blue-font" class="row-title">{{ cohort }} Students</span>
         <table v-if="students.length > 0">
            <tr>
               <th class="flexibile-th">Name</th>
               <th class="flexibile-th">Email</th>
               <th class="flexibile-th">Phone</th>
               <th class="flexibile-th">Mentor</th>
               <th class="flexibile-th">Basecamp Completion</th>
               <th class="flexibile-th">Confidence</th>
            </tr>

            <tr   v-for="student in students"
                  :key="student.id"
                  :class="{
                     'green-row': student.completion >= 81 && student.completion <= 100,
                     'blue-row': student.completion >= 61 && student.completion <= 80,
                     'yellow-row': student.completion >= 36 && student.completion <= 60,
                     'red-row': student.completion >= 11 && student.completion <= 35
                  }">
               <td class="flexibile-td">{{ student.first_name }} {{ student.last_name }}</td>
               <td class="flexibile-td">{{ student.email }}</td>
               <td class="flexibile-td">{{ student.phone }}</td>
               <td class="flexibile-td" v-if="student.mentor.first_name && student.mentor.last_name">{{ student.mentor.first_name }} {{ student.mentor.last_name }}</td>
               <td class="flexibile-td" v-else>No Mentor Found</td>
               <td class="flexibile-td">{{ student.completion || 0 }}%</td>
               <td class="flexibile-td">{{ student.confidence || 0 }}%</td>
            </tr>
         </table>
         <span id="no-students-span" class="row-title" v-else>No students found for this cohort</span>
      </div>
   </div>
</template>

<script>
import ColorLegend from './ColorLegend/ColorLegend'

export default {
   props: {
      students: {
         type: Array,
         required: true
      },
      cohort: {
         type: String,
         required: true
      }
   },
   components: {
      myColorLegend: ColorLegend
   }
}
</script>

<style scoped>
#StudentTable__container {
   width: 100%;
   box-sizing: border-box;
   padding: 30px;
}

#StudentTable__table {
   display: inline-block;
}

table {
   color: black;
}

.green-row {
   background-color: #c6fca7;
}

.blue-row {
   background-color: #addafa;
}

.yellow-row {
   background-color: #f9dea9;
}

.red-row {
   background-color: #eebbba;
}

h3 {
   margin-top: 0px;
}

#no-students-span {
   color: black;
}
</style>
