<template>
   <div id="Interactions__container">
      <template v-if="!selectedStudent">
         <my-load-spinner v-if="!fetchedData"></my-load-spinner>

         <template v-else-if="students.length > 0">
            <h3>Your Assigned Students</h3>
            <div id="students__container">
               <button  id="blue-button"
                        v-for="student in students"
                        :key="student.enrollment_id"
                        @click="selectedStudent = student">
                  {{ student.first_name }} {{ student.last_name }}
               </button>
            </div>
         </template>

         <template v-else>
            <h3>You don't have any students assigned to you.</h3>
         </template>
      </template>

      <template v-else>
         <my-interaction   :student="selectedStudent"
                           :createInteraction="createInteraction"
                           :cancelInteraction="cancelInteraction">
         </my-interaction>
      </template>
   </div>
</template>

<script>
// import authFn from '@/utils/authenticate'
import LoadSpinner from '@/components/LoadSpinner/LoadSpinner'
import Interaction from './Interaction/Interaction'
import axios from 'axios'
import config from '@/config'
import authFn from '@/utils/authenticate'
import isMentor from '@/utils/isMentor'

export default {
   components: {
      myLoadSpinner: LoadSpinner,
      myInteraction: Interaction
   },
   created() {
      this.fetchAssignedStudents()
   },
   data() {
      return {
         fetchedData: false,
         students: [],
         selectedStudent: null
      }
   },
   methods: {
      fetchAssignedStudents() {
         return authFn().then(r => {
            if (isMentor(r.data.roles)) {
               const user_id = r.data.id
               let url = `${config.api.baseUrl}${config.api.routes.students.assigned$.replace('$user_id', user_id)}`
               return axios
                  .get(url)
                  .then(r => {
                     this.students = r.data
                     this.fetchedData = true
                  })
                  .catch(err => console.error('API failed at fetching assigned students', err))
            } else {
               return null
            }
         })
      },
      createInteraction(enrollment_id, meta) {
         let url = `${config.api.baseUrl}${config.api.routes.interactions.create$.replace('$enrollment_id', enrollment_id)}`
         return axios
            .post(url, meta)
            .then(() => {
               this.cancelInteraction()
            })
            .catch(err => console.error('API failed at creating a new interaction', err))
      },
      cancelInteraction() {
         this.selectedStudent = null
      }
   }
}
</script>

<style scoped>
#Interactions__container {
   background-color: #424242;
   min-height: 100vh;
   width: 100%;
   box-sizing: border-box;
   padding: 30px;
   padding-top: 0px;
   color: #fff;
}

h3 {
   padding-top: 30px;
   margin-top: 0px;
}

#students__container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#students__container button {
   margin-bottom: 15px;
}
</style>
