<template>
   <div id="MentorList__container">
      <div id="MentorList__table">
         <h3 id="blue-font" class="row-title">Mentors</h3>
         <table v-if="mentors.length > 0">
            <tr>
               <th class="flexibile-th">Name</th>
               <th class="flexibile-th">Location</th>
               <th class="flexibile-th">Current/Capacity</th>
            </tr>

            <tr   v-for="(mentor, i) in mentors"
                  :key="mentor.id"
                  :class="{ rowLight: i % 2 === 0 }">
               <td class="flexibile-td">{{ mentor.first_name }} {{ mentor.last_name }}</td>
               <td class="flexibile-td">{{ location }}</td>
               <td class="flexibile-td">{{ mentor.active_students_count }} / {{ mentor.capacity }}</td>
            </tr>
         </table>
         <span v-if="mentors.length === 0" id="no-mentors" class="row-title">No available mentors</span>
      </div>
   </div>
</template>

<script>
export default {
   props: {
      mentors: {
         type: Array,
         required: true
      },
      location: {
         type: String,
         required: true
      }
   }
}
</script>

<style scoped>
   #MentorList__container {
      display: flex;
      color: black;
      margin-top: 30px;
   }

   #no-mentors {
      padding: 0 20px;
   }

   h3 {
      margin: 0;
   }
</style>
