<template>
   <div id="Interaction__container">
      <h3>{{ student.first_name }} {{ student.last_name }}</h3>
      <div class="question">
         <span>Did the student progress from last week?</span>
         <select>
            <option>Yes</option>
            <option>No</option>
         </select>
      </div>

      <div class="question">
         <span>What is the student's current Basecamp Completion %?</span>
         <input id="percent-input" type="number" min="0" max="100" v-model="completionString" />
      </div>

      <div class="question">
         <span>What is your current confidence that the student will be successful?</span>
         <div id="percent-range">
            <h4>Needs to Defer</h4>
            <div id="radio-parent">
               <div  class="radio-container"
                     v-for="(percent, i) in radioOptions"
                     :key="i"
                     @click="confidenceString = percent">
                  <span>{{ percent }}%</span>
                  <input   type="radio"
                           :v-model="confidenceString"
                           :id="`${ percent }-${ i }`"
                           name="percent"
                           :checked="confidenceString === percent" />
               </div>
            </div>
            <h4>Will not struggle</h4>
         </div>
      </div>

      <div class="question-big">
         <span>Notes</span>
         <textarea v-model="notes" />
      </div>

      <button  id="blue-button"
               @click="createInteraction(student.enrollment_id, { confidence, completion, notes })">
         Submit Interaction
      </button>

      <button  id="red-button"
               @click="cancelInteraction">
         Cancel Interaction
      </button>
   </div>
</template>

<script>
export default {
   props: {
      student: {
         type: Object,
         required: true
      },
      createInteraction: {
         type: Function,
         required: true
      },
      cancelInteraction: {
         type: Function,
         required: true
      }
   },
   data() {
      return {
         radioOptions: ['10', '20', '30', '40', '50', '60', '70', '80', '90', '100'],
         confidenceString: '',
         completionString: '',
         notes: ''
      }
   },
   computed: {
      confidence() {
         return parseInt(this.confidenceString)
      },
      completion() {
         return parseInt(this.completionString)
      }
   }
}
</script>

<style scoped>
.question {
   margin-bottom: 15px;
}

.question-big {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

#radio-parent {
   display: flex;
   justify-content: center;
   margin: 15px 0px;
}

.radio-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   margin-right: 10px;
   width: 50px;
   cursor: pointer;
}

h3 {
   margin-top: 0px;
}

#percent-input {
   width: 50px;
}

#percent-range {
   padding: 10px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
}

h4 {
   margin: 0px 20px;
}

button {
   margin-top: 30px;
   margin-right: 15px;
}
</style>
