<template>
  <div id="app">
    <my-header></my-header>
    <router-view/>
  </div>
</template>

<script>
import Header from '@/components/Header/Header'

export default {
   components: {
      myHeader: Header
   }
}
</script>

<style>
#app {
   font-family: 'Nunito', 'Avenir', Helvetica, Arial, sans-serif;
   font-weight: 400;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   color: #2c3e50;
   min-width: 645px;
}

/* vvv Components depend on these class names. Changing them require a good amount of refactoring vvv */
#blue-font {
   color: #2aabe2;
}

#blue-bottom-border {
   border-bottom: 2px solid #2aabe2;
}

#blue-button {
   background-color: #2aabe2;
   padding: 10px;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   color: #fff;
}

.blue-action-row {
   transition: 500ms;
}

.blue-action-row:hover {
   background-color: #2aabe2;
   color: #fff;
   font-size: 20px;
}

.blue-selected-row {
   background-color: #2aabe2;
   color: #fff;
   font-size: 20px;
}

.red-action-row {
   transition: 500ms;
}

.red-action-row:hover {
   background-color: #bc494a;
   color: #fff;
   font-size: 20px;
}

.red-selected-row {
   background-color: #bc494a;
   color: #fff;
   font-size: 20px;
}

#red-font {
   color: #bc494a;
}

#red-bottom-border {
   border-bottom: 2px solid #bc494a;
}

#red-button {
   background-color: #bc494a;
   padding: 10px;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   color: #fff;
}

#red-bg:hover {
   background-color: #bc494a;
}
/* ^^^ Components depend on these class names. Changing them require a good amount of refactoring ^^^ */

th {
   user-select: none;
   padding-bottom: 10px;
}

.flexibile-th {
   user-select: none;
   padding-bottom: 10px;
}

td {
   padding: 0px 20px;
   min-width: 220px;
   border: 0px solid transparent;
   cursor: pointer;
   user-select: none;
   height: 60px;
}

.flexibile-td {
   padding: 0px 20px;
   min-width: 220px;
   border: 0px solid transparent;
   cursor: pointer;
   user-select: none;
   height: 60px;
}

table {
   border-collapse: collapse;
   background-color: #d3d2d3;
}

.rowLight {
   background-color: #ebebeb;
}

.row-title {
   height: 65px;
   box-sizing: border-box;
   padding: 10px 0px;
   font-size: 23px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #d3d2d3;
}

/* Global Transitions */
.fade-enter-active,
.fade-leave-active {
   transition: opacity 500ms;
}
.fade-enter,
.fade-leave-to {
   opacity: 0;
}

/* Global Modal Styles */
.Modal__controls {
   width: 100%;
   height: 20px;
   display: flex;
   justify-content: flex-end;
   box-sizing: border-box;
   color: black;
}

.Modal__controls span {
   cursor: pointer;
   font-size: 20px;
}

.Modal__container {
   background-color: #fff;
   z-index: 2;
   padding: 20px 20px 40px 20px;
   min-width: 500px;
   height: 750px;
   width: 820px;
   z-index: 3;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   user-select: none;
   box-sizing: border-box;
   position: fixed;
   top: 30px;
   overflow: auto;
}

.Modal__title {
   color: black;
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
}

.Modal__title h3 {
   margin-top: 0px;
   margin-bottom: 0px;
}

.datePickerInput {
   border: none;
   border-bottom: 1px solid #2aabe2;
}

/* Global Toast Styles */
.toast-success {
   font-family: 'Nunito', 'Avenir', Helvetica, Arial, sans-serif;
   background-color: #2aabe2 !important;
   padding: 3px 30px !important;
   font-size: 20px !important;
}

.toast-failure {
   font-family: 'Nunito', 'Avenir', Helvetica, Arial, sans-serif;
   background-color: #bc494a !important;
   padding: 3px 30px !important;
   font-size: 20px !important;
}

/* Media Queries */
@media only screen and (max-width: 1425px) {
   .flexibile-td {
      min-width: 150px;
   }
}

@media only screen and (max-width: 1055px) {
   .flexibile-td {
      min-width: 100px;
   }
}

@media only screen and (max-width: 805px) {
   .flexibile-td {
      min-width: 50px;
   }
}
</style>
