<template>
   <div id="ActionItems__container">
      <div id="blue-font" class="row-title">
         Action Items
      </div>
      <table id="ActionsItems__table">
         <tr>
            <th class="flexibile-th">Name</th>
            <th class="flexibile-th">Enroll Date</th>
            <th class="flexibile-th">Start Date</th>
            <th class="flexibile-th">Cohort</th>
            <th class="flexibile-th">Action</th>
         </tr>
         <tr   v-for="(student, i) in students"
               :key="`${student.enrollment_id}-${i}`"
               :class="[
                  {
                     rowLight: i % 2 === 0 && student !== selected.student,
                     'blue-selected-row': student === selected.student
                  },
                  'blue-action-row',
                  'row-action'
               ]"
               @click="showModal( student, 'Action Item', i, null )">
            <td class="flexibile-td">{{ student.first_name }} {{ student.last_name }}</td>
            <td class="flexibile-td">{{ student.date_enrolled }}</td>
            <td class="flexibile-td">{{ student.cohort_start_date }}</td>
            <td class="flexibile-td">{{ student.cohort_name }}</td>
            <td class="flexibile-td">{{ student.label }}</td>
         </tr>
      </table>
   </div>
</template>

<script>
export default {
   props: {
      showModal: {
         type: Function,
         required: true
      },
      selected: {
         type: Object,
         required: true
      },
      students: null
   }
}
</script>

<style scoped>
#ActionItems__container {
   box-sizing: border-box;
   padding: 0px 30px;
   height: auto;
   display: inline-block;
   margin-bottom: 30px;
}
</style>
