<template>
   <div id="Landing__container">
      <template v-if="fetchedData">
         <div id="visibility__controls">
            <div class="control">
               <my-toggle :visible="actionVisible" text="Action Items" v-on:toggle="actionVisible = !actionVisible">
                  <span>Action Items</span>
               </my-toggle>
            </div>

            <div class="control">
               <my-toggle :visible="dangerVisible" text="Action Items" v-on:toggle="dangerVisible = !dangerVisible">
                  <span>Danger Zone</span>
               </my-toggle>
            </div>
         </div>

         <transition-group name="fade" v-if="formatted_students_action">
            <my-action-items  ref="action-items-component"
                              :key="'transition-0'"
                              v-show="actionVisible"
                              :showModal="showModal"
                              :selected="selected"
                              :students="formatted_students_action">
            </my-action-items>

            <my-danger-zone   ref="danger-zone-component"
                              :key="'transition-1'"
                              v-show="dangerVisible"
                              :showModal="showModal"
                              :selected="selected"
                              :students="formatted_students_danger">
            </my-danger-zone>
         </transition-group>

         <my-modal   v-if="modalVisible"
                     :closeModal="closeModal"
                     :selected="selected"
                     :defaultedMenu="defaultedMenu"
                     :assignMentor="assignMentor"
                     :resolveAction="resolveAction">
         </my-modal>
      </template>

      <template v-else>
         <my-load-spinner></my-load-spinner>
      </template>
   </div>
</template>

<script>
import ActionItems from './ActionItems/ActionItems'
import DangerZone from './DangerZone/DangerZone'
import LoadSpinner from '@/components/LoadSpinner/LoadSpinner'
import Modal from './Modal/Menu'
import Toggle from '@/components/Toggle/Toggle'
import axios from 'axios'
import config from '@/config'
import moment from 'moment'
import authFn from '@/utils/authenticate'
import toastOptions from '@/utils/toastOptions'
import isAdmin from '@/utils/isAdmin'

export default {
   components: {
      myActionItems: ActionItems,
      myDangerZone: DangerZone,
      myToggle: Toggle,
      myModal: Modal,
      myLoadSpinner: LoadSpinner
   },
   created() {
      this.fetchStudents()
   },
   data() {
      return {
         students_action: [],
         students_danger: [],
         actionVisible: true,
         dangerVisible: true,
         modalVisible: false,
         selected: {
            student: {},
            type: '',
            index: null
         },
         defaultedMenu: null,
         fetchedData: false
      }
   },
   methods: {
      fetchStudents() {
         return authFn().then(r => {
            if (isAdmin(r.data.roles)) {
               const promises = [
                  axios.get(`${config.api.baseUrl}${config.api.routes.students.action}`),
                  axios.get(`${config.api.baseUrl}${config.api.routes.students.danger}`)
               ]

               return axios
                  .all(promises)
                  .then(([students_action, students_danger]) => {
                     this.students_action = students_action.data
                     this.students_danger = students_danger.data
                     this.fetchedData = true
                  })
                  .catch(err => {
                     console.error('API failed at fetching danger or action students', err)
                     this.$toasted.show('API failed at fetching danger or action students', toastOptions.error)
                  })
            } else {
               return null
            }
         })
      },
      setSelectedStudent(student, type, index) {
         this.selected = { student, type, index }
      },
      showModal(student, type, index, defaultedMenu) {
         this.setSelectedStudent(student, type, index)
         this.defaultedMenu = defaultedMenu
         this.modalVisible = true
      },
      closeModal() {
         this.resetStudentsAction()
         this.modalVisible = false
      },
      resetStudentsAction() {
         this.modalVisible = false
         this.selected = {
            student: {},
            type: '',
            index: null
         }
      },
      removeStudentFromTable(deleteIndex) {
         let new_students_action = [...this.students_action]
         new_students_action.splice(deleteIndex, 1)
         this.students_action = new_students_action
      },
      assignMentor(mentorId) {
         const enrollmentId = this.selected.student.enrollment_id
         const sessionId = this.selected.student.session_id
         const deleteIndex = this.selected.index

         return axios
            .post(`${config.api.baseUrl}${config.api.routes.mentors.assign_mentor}`, {
               enrollment_id: enrollmentId,
               session_id: sessionId,
               mentor_id: mentorId
            })
            .then(() => {
               this.resetStudentsAction()
               this.removeStudentFromTable(deleteIndex)
            })
            .catch(err => {
               console.error('API could not assign a mentor to student:', err)
               this.$toasted.show('API could not assign a mentor to student', toastOptions.error)
            })
      },
      resolveAction(trackableId) {
         const url = `${config.api.baseUrl}${config.api.routes.resolve$.replace('$trackable_id', trackableId)}`
         return axios
            .patch(url)
            .then(() => {
               const deleteIndex = this.selected.index
               this.removeStudentFromTable(deleteIndex)
               this.closeModal()
            })
            .catch(err => {
               console.error('API could not resolve action:', err)
               this.$toasted.show('API could not resolve action', toastOptions.error)
            })
      }
   },
   computed: {
      formatted_students_action: function() {
         return this.students_action.map(student => {
            student = { ...student }
            student.full_name = `${student.first_name} ${student.last_name}`
            student.date_enrolled = moment(student.date_enrolled).format('MM/DD/YYYY')
            student.cohort_start_date = moment(student.cohort_start_date).format('MM/DD/YYYY')
            student.cohort_name = student.cohort_name.toUpperCase()
            return student
         })
      },
      formatted_students_danger: function() {
         return this.students_danger.map(student => {
            student = { ...student }
            student.full_name = `${student.first_name} ${student.last_name}`
            student.start_date = moment(student.cohort_start_date).format('MM/DD/YYYY')
            student.cohort = student.cohort_name.toUpperCase()
            student.completion = `${student.last_interaction.meta.completion}%`
            return student
         })
      }
   }
}
</script>

<style>
#Landing__container {
   background-color: #424242;
   min-height: 100vh;
   padding: 30px;
   padding-top: 0px;
   box-sizing: border-box;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
}

#visibility__controls {
   color: #fff;
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 30px 0px;
}

.control {
   margin-right: 30px;
}
</style>
