<template>
   <div id="Cohorts__container">
      <my-load-spinner v-if="!fetchedData" ref="load-spinner"></my-load-spinner>
      <div id="Cohorts__workspace" v-else>
         <my-campus-list ref="campus-list-component" :campuses="campuses" v-on:selected="selectedCampus = $event"></my-campus-list>
         <my-cohort-list ref="cohort-list-component" v-if="selectedCampus" :cohorts="selectedCampus.cohorts" v-on:selected="selectedCohort = $event"></my-cohort-list>
         <my-student-table ref="student-table-component" v-if="selectedCohort" :students="selectedCohort.students" :cohort="selectedCohort.name.toUpperCase()"></my-student-table>
      </div>
   </div>
</template>

<script>
import LoadSpinner from '@/components/LoadSpinner/LoadSpinner'
import CampusList from '@/components/CampusList/CampusList'
import CohortList from './CohortList/CohortList'
import StudentTable from './StudentTable/StudentTable'
import authFn from '@/utils/authenticate'
import isAdmin from '@/utils/isAdmin'
import axios from 'axios'
import config from '@/config'
import toastOptions from '@/utils/toastOptions'

export default {
   components: {
      myCampusList: CampusList,
      myCohortList: CohortList,
      myStudentTable: StudentTable,
      myLoadSpinner: LoadSpinner
   },
   created() {
      this.fetchCohorts()
   },
   data() {
      return {
         selectedCampus: null,
         selectedCohort: null,
         campuses: null,
         fetchedData: false
      }
   },
   methods: {
      fetchCohorts() {
         return authFn().then(r => {
            if (isAdmin(r.data.roles)) {
               return axios
                  .get(`${config.api.baseUrl}${config.api.routes.locations.cohorts}`)
                  .then(r => {
                     this.campuses = r.data
                     this.fetchedData = true
                  })
                  .catch(err => {
                     console.error('API failed at fetching mentors:', err)
                     this.$toasted.show('API failed at fetching mentors', toastOptions.error)
                  })
            } else {
               return null
            }
         })
      }
   }
}
</script>

<style scoped>
#Cohorts__container {
   min-height: 100vh;
   width: 100%;
   background-color: #424242;
   color: #fff;
}
</style>
