<template>
   <div id="ColorLegend__container">
      <div class="symbol">
         <div id="symbol-green" />
         <span>100% - 81%</span>
      </div>

      <div class="symbol">
         <div id="symbol-blue" />
         <span>80% - 61%</span>
      </div>

      <div class="symbol">
         <div id="symbol-yellow" />
         <span>60% - 36%</span>
      </div>

      <div class="symbol">
         <div id="symbol-red" />
         <span>35% - 11%</span>
      </div>

      <div id="last-symbol" class="symbol">
         <div id="symbol-grey" />
         <span>10% - 0%</span>
      </div>
   </div>
</template>

<style scoped>
   #ColorLegend__container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
   }

   .symbol {
      display: flex;
      align-items: center;
      margin-right: 50px;
   }

   .symbol div {
      width: 10px;
      height: 10px;
      color: #FFF;
      margin-right: 5px;
      border: 1px solid black;
   }

   #symbol-green {
      background-color: #C6FCA7;
   }

   #symbol-blue {
      background-color: #ADDAFA;
   }

   #symbol-yellow {
      background-color: #F9DEA9;
   }

   #symbol-red {
      background-color: #EEBBBA;
   }

   #symbol-grey {
      background-color: #D3D2D3;
   }

   #last-symbol {
      margin-right: 0px;
   }
</style>
